**
!backend/
backend/**
!backend/marketops-server/
backend/marketops-server/**
!backend/marketops-server/target/
backend/marketops-server/target/**
!backend/marketops-server/target/marketops-server-*.jar
!frontend/
frontend/**
!frontend/marketops-console/
frontend/marketops-console/**
!frontend/marketops-console/dist/
!frontend/marketops-console/dist/**
!infra/
infra/**
!infra/yandex/
infra/yandex/**
!infra/yandex/runtime/
infra/yandex/runtime/**
!infra/yandex/runtime/*.Dockerfile
!infra/yandex/runtime/nginx.conf
!infra/yandex/runtime/migration-logback.xml
!infra/yandex/runtime/certs/
infra/yandex/runtime/certs/**
!infra/yandex/runtime/certs/yandex-root.crt
